article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contPag{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 15%;
}
.pagNum{
    color: white;
    margin: 0%;
}
.card{
    padding-bottom: 0.5rem;
    border-color: #A8E890;
    border-width: 0.2vw;
    border-style: solid;
    border-radius: 1rem;
    margin: 2rem 0rem;
    width: 25vw;
    height: fit-content;
    background-color: rgba(98, 112, 102, 0.411);
}

.mainContainer{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    justify-content: center;
}
.parentElement{
    width: 100%;
}
.text{
color : white
}
.loading{
    width: 7%;
    height: 15%;
    position: fixed;
    left: auto;
    right: auto;
    top: 40%;
}
a:link { text-decoration: none; }
.buttons{
    margin-top: 1rem;
    background-color: hsl(218, 12%, 18%);
    color: white;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3rem;
}
.buttons:hover {
    color: rgb(194, 194, 194);
    cursor: pointer;
}