.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titlecard{
    padding: 0.5rem;
    width: 100%;
    display: flex;
    margin: 0.83rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}
.title:hover{
    color: rgb(199, 199, 199);
}
.title{
    color: white;
} 
.text{
    color: rgb(187, 187, 187);
} 
.imgcard{
    border-radius: 0.2rem;
    width: inherit;
    height: inherit;
}
.contimg{
    width: 100%;
    height: 10em;
    padding: 0 5%;
}
.activities{
    display: flex;
    width: 80%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.buttons{
    margin-top: 1rem;
    background-color: hsl(218, 12%, 18%);
    color: white;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3rem;
}
.buttons:hover {
    color: rgb(194, 194, 194);
    cursor: pointer;
}