header{
    background-color: #425F57;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#links{
    display:flex;   
}
li{
    display:inline; 
    margin-left: 4vh;  
}
#links >li > a{
    color: #749F82;
}