.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title{
    color: white;
}
.titleInput,.inputArray{
    color: rgb(145, 145, 145);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.titleInput{
    margin-left: 60%;
    display: flex;
}
.errors{
    margin-left: 0%;
    display: flex;
    color:red;
    font-size: 0.7rem;
}
.input{
    margin-left: 1rem;
}
.inputArray{
    margin-left: 5%;
    align-self: center;
    justify-self: left;
}
.contCountries{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}
.arrays{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mainContainer{
    padding-top: 60px;
}
span{
    color:red;
}
.buttons{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: hsl(218, 12%, 18%);
    color: white;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3rem;
}
.buttonDissabled{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: hsla(208, 10%, 72%, 0.596);
    color: white;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3rem;
}
.buttons:hover {
    color: rgb(194, 194, 194);
    cursor: pointer;
}
.containerImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.loading{
    width: 7%;
    height: 15%;
    position: fixed;
    left: auto;
    right: auto;
    top: 250px;
}