.titlecard{
    padding: 0.5rem;
    display: flex;
    margin: 0.83rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
} 
.imgcard{
    border-radius: 0.2rem;
}
.dietas{
    height: 3rem;
    align-items: center;
    justify-content: center;
}
