article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    border-color: #A8E890;
    border-width: 0,2vw;
    border-style: solid;
    border-radius: 1rem;
    margin: 2rem 3rem;
    width: 40vw;
    height: 63vh;
}